* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-height: 100vh;
    /*  colors are
    #5b9aa0, #d6d4e0, #b8a9c9, #622569*/
}

header:before {
    content:'';
    background: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.header  ul {
    position: sticky;
    top: 0;
    background: #b8a9c9;
    width: 100vw;
    height: 10vh;
}

.header ul li {
    display: inline-flex;

}
.header img {
    height: 80px;
    padding-left: 1rem;
    padding-top: 0.25rem;
}
.header ul li:nth-child(2) {
    float: right;
    padding-top: 2rem;
    padding-right: 1.5rem;
}
.header ul li:nth-child(3) {
    float: right;
    padding-top: 2rem;
    padding-right: 1rem;
}


/* body */

.status-container   {
    width: 90%;
    padding: 1.25rem 1.5rem;
    border:4px double #622569;
    background: white;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    display: grid;
    height: 27vh;
    grid-template-columns: 130px auto;
    box-shadow: 4px 4px 4px #622569;
}

.card {
    padding: 0.5rem;
   
}
.status-container img {
    z-index: 1;
    width: 100%;
    height: 20vh;
}

.top-row {
    width: 100%;
    height: 1rem;
    padding: 0;
    margin-bottom: 0.5rem;
}

.top-row h4:first-child {
    float: left;
}

.top-row h4:last-child {
    float: right;
}

.middle-row p {
   
    height: 10vh;
    font-size: 0.75rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.likes-row {
   
    padding: 0.5rem 0.5rem;
    font-size: 0.75rem;
}

.likes-row p {
    display: inline-block;
    text-align: center;
}

.btn {
    float: right;
    border: 2px solid black;
    color: black;
    padding: 0.5rem 1.5rem;
    width: 2rem;
    height: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    color: #e71d1d;
    background: #446190;
}

#status-container {
    /* above is for left-box
    and right-box */
    width: 90%;
    padding: 4rem;
    border: 4px double #622569;
    background: #5b9aa0;
    border-radius: 7px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    opacity: .96;
    box-shadow: 4px 4px 4px #622569;
}

.status-container .left-box img {
    margin: auto;
    border: 3px solid black; 
    width: 25%;
}

.right-box  {
    /* above is for name-date
    and status and likebutton */
   width: 45%;
    line-height: 1.7;
    font-size: 1.5rem;
    border-radius: 7px;
    border: 5px solid #622569;
    height: 25px;
}

.right-box ul li {
    display: inline-flex;
    width: 50%;
    font-size: 1.5rem;
    color: black;
}

#status {
    background-color: lightgrey;
    border: 3px solid black;
}

#likebutton #likes {
    border-bottom: 2px solid black;
    width: 5px;

}
.btn {
    margin-bottom: 2rem;
    padding-bottom: 1.25rem;
    padding-left: 0.8rem;
    padding-right: 2rem;
    }
/*This is out of place*/
}
#like_button {

    border: 2px solid black;
    font-size: 1rem;
    border-radius: 5px;
    width: 10%;
    background: #d6d4e0;
    box-shadow: 2px 2px 2px black;
    height: 2rem;

}






















